ul {
  list-style: none;
}
ul.breadcrumb {
  padding: 10px 16px;
  list-style: none;
  background-color: #eee;
  float:left;
}
ul.breadcrumb li {
  display: inline;
  font-size: 10px;
}
ul.breadcrumb li + li:before {
  padding: 8px;
  color: black;
  content: ">";
}
ul.breadcrumb li a {
  color: #23b6ae;
  text-decoration: none;
}
ul.breadcrumb li a:hover {
  color: #01447e;
  text-decoration: underline;
}
.generalcard{
  margin: 10px 0px;
  padding: 10px 10px;
  border: 1px solid grey;
  font-size: 18px;
  float:left;
}
.image img {
  height: 250px !important;
  width: 280px !important;
  /*object-fit: cover;*/
  padding: 10px;
}
/**/
.generalcard p, {
  margin-bottom: 0;
  text-align: right;
  margin-top: -25px;
}
.generalcard p a {
  text-decoration: none;
}
.fa-map-marker {
  color: red;
  font-size: 20px;
  margin-right: 5px;
}

.fa-heart{
  float: right;
}

.fa-info-circle{
  float:right;
}

.btn-info {
  background-color: #2ecab6 !important;
}
.carousel {
  width: 290px;
}
.carousel-control-next {
  right: 10px;
}

.dropdown-container1,.dropdown-container3,.dropdown-container5,.dropdown-container7,.dropdown-container9{
  float: left;
}

.dropdown-container2,.dropdown-container4,.dropdown-container6{
  float:right;
}
.dropdown-container8{
  float:right;
}
.dropdown-container10{
  float: right;
}

.generalcard,{
  font-size: 15px;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 2px 30px 2px 2px;
    border:solid;
}

.lower2{
  float: right;
}
.lower{
  float: left;
}